<div class="col-md-12">
	<div class="col-md-3"><h1>New loan</h1></div>
	<div class="col-md-2" style="margin-top:20px"><input class="btn btn-primary" type="submit" form="new_loan" value="Submit"></div>
	<div class="col-md-2" style="margin-top:20px"><%= link_to 'Back', loans_path, :class => 'btn btn-danger', :style => 'color:white' %></div>
</div>

<div class="col-md-12">
	<%= render 'form' %>
</div>


